<article class="consultar" data-page="consultar">

    <header>
        <h2 class="h2 article-title">Consultar</h2>
    </header>

    <main>
        <div class="container row">
            <section class="ListContainer column">
                <div id="people" class="Contact_list"></div>
            </section>
            <br>
            <form autocomplete="off" class="js-form column">
                <div class="name">
                    <i class="LC"> Nombre: </i>
                    <input type="text" required id="fullName" placeholder="Nombe del proveedor" />
                </div>
                <div class="email">
                    <i class="LC">Precio de Plastico: </i>
                    <input type="number" required id="myEmail" placeholder="Precio del Plastico" />
                </div>

                <div class="number">
                    <i class="LC">Precio de Cartón: </i>
                    <input type="number" required id="myTel" placeholder="Precio del Carton" />
                </div>

                <div class="img">
                    <i class="LC">Precio del Fierro: </i>
                    <input type="number" required id="imgurl" placeholder="Precio del Fierro" />
                </div>
                <button type="submit" class="submitbtn"></button>
            </form>
        </div>
    </main>

</article>