<article class="editar" data-page="editar">
  <header>
    <h2 class="h2 article-title">Editar</h2>
  </header>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Nombre cliente</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Plastico <br />si/no</th>
        <th>Cantidad</th>
        <th>Fierro<br />si/no</th>
        <th>Cantidad</th>
        <th>Carto<br />si/no</th>
        <th>Cantidad</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td><a href="">editar</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td><a href="">editar</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td><a href="">editar</a></td>
      </tr>
    </tbody>
  </table>
</article>
